.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url("https://i.pinimg.com/originals/e2/71/fd/e271fda72f1e158b5f0569cc72d36d7f.jpg");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.formulario {
  display: flex;
  flex-direction: column;
  padding: 25px 35px;
  background-color: rgb(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0);
}

.enviar {
  margin-top: 20px;
}

.yup_error {
  font-size: 12px;
  color: red;
}

.bem_vindo {
  color: #000;
}